{##############################################################################
 #                                  MSE-JPS                                   #
 #                 Mini Site Engine - Javascript / PHP / SQL                  #
 #                                                                            #
 #                        Version 1.2.0-1 : 06/04/2015                        #
 #                                                                            #
 #                      Developped by Hadrien Croubois :                      #
 #                         hadrien.croubois@gmail.com                         #
 #                                                                            #
 ##############################################################################}

<div id ="page" class='flex wrap with-header with-footer'>
	{% include 'structure/210_main.twig'  %}
	{% include 'structure/220_aside.twig' %}
</div>