{##############################################################################
 #                                  MSE-JPS                                   #
 #                 Mini Site Engine - Javascript / PHP / SQL                  #
 #                                                                            #
 #                        Version 2.0.0-0 : 10/04/2015                        #
 #                                                                            #
 #                      Developped by Hadrien Croubois :                      #
 #                         hadrien.croubois@gmail.com                         #
 #                                                                            #
 ##############################################################################}

<div class='block {{page.style}}
	{% if page.bordered %}bordered{% endif %}
	{% if page.expandable %}expandable{% endif %}
	{% if not article.archived %}expanded{% endif %}'>
	<article>
		<h1 class='label label-blue'><a href='#' onclick='toggleBlock(this); return false;'>{{article.title}}</a></h1>
		<div class='content'>
			{{ article.text | raw }}
			{% for reference in article.citations.list %}
				{{ include ('structure/212_bibentry.twig', {'reference': reference }) }}
			{% endfor %}
		</div>
	</article>
</div>