{##############################################################################
 #                                  MSE-JPS                                   #
 #                 Mini Site Engine - Javascript / PHP / SQL                  #
 #                                                                            #
 #                        Version 1.1.2-1 : 04/04/2015                        #
 #                                                                            #
 #                      Developped by Hadrien Croubois :                      #
 #                         hadrien.croubois@gmail.com                         #
 #                                                                            #
 ##############################################################################}

<aside>
	{% for link in website.links.list %}
		<article>
			<h1 class='label label-orange'>{{link.title}}</h1>
			{{ link.content | raw }}
		</article>
	{% endfor %}
	<div id='copyright'>
		Powered by <a href='https://github.com/Amxx/MSE-JPS' target='_blank'>MSE-JSP</a><br/>
		Developped by Hadrien Croubois
	</div>
</aside>