/*****************************************************************************
 *                                  MSE-JPS                                  *
 *                 Mini Site Engine - Javascript / PHP / SQL                 *
 *                                                                           *
 *                        Version 2.4.0-0 : 22/06/2016                       *
 *                                                                           *
 *                      Developped by Hadrien Croubois :                     *
 *                         hadrien.croubois@gmail.com                        *
 *                                                                           *
 *****************************************************************************/

/*****************************************************************************
 *                                H e a d e r                                *
 *****************************************************************************/
header
{
	position:								fixed;
	top:										0px;
	z-index:								100000;
	width:									100%;
	height:									140px;  /* 100+20x2 */
	padding:								20px 0;
	border-bottom:					1px solid #DDD;
	background: 						#FFFFFF;
	overflow:								hidden;
}
header.dark
{
	border-bottom:					0px;
	color:									#FFFFFF;
	background:							#040322;
	/*background:							#4D4D4D;*/
	/*background-image:				url(../img/header-dark.png);*/
	/*background-size:				100%;*/
	/*background-position:		50% 25%;*/
}
header.particles
{
	border-bottom:					0px;
	color:									#FFFFFF;
	background:							none;
}
header > *
{
	z-index:								10000000;
}
header #name
{
	position:								relative;
	display: 								block;
	float:									left;
	height:									70px;
	width:									calc(100% - 100px);
	font-size:							36px;
}
header #picture
{
	position:								relative;
	display:								block;
	float:									right;
	height:									100px;
	/*width:									100px;*/
}

/*****************************************************************************
 *                     H e a d e r   N a v i g a t i o n                     *
 *****************************************************************************/
header #nav
{
	position:								relative;

	overflow:								hidden;
	display:								block;
	margin:									0px;
	padding:								0px;
	float:									left;
	height:									30px;
	width:									calc(100% - 100px);
}
header #nav li
{
	margin-right:						20px;
	list-style:							none;
	float:									left;
}
header #nav li.current a
{
	color:									#333;
	border-bottom:					2px solid #94CC5F;
}
header.dark      #nav li.current a,
header.particles #nav li.current a
{
	color:									#EEE;
}
header #nav a
{
	font-size:							20px;
	color:									#888;
	text-decoration:				none;
}
header.dark      #nav a,
header.particles #nav a
{
	color:									#BBB;
}

/*****************************************************************************
 *                       H e a d e r   P a r a l l a x                       *
 *****************************************************************************/
#parallax
{
	width:										100%;
	height:										0;
}
#parallax .plan1 { padding: 0 0 0 200px; z-index: 1;}
#parallax .plan2 { padding: 0 0 0 200px; z-index: 2;}
#parallax .plan3 { padding: 0 0 0 200px; z-index: 5;}

/*****************************************************************************
 *                      H e a d e r   P a r t i c l e s                      *
 *****************************************************************************/
#particles-header-wrapper
{
	position:								absolute;
	top:										0px;
	z-index:                10000;
	width:									100%;
	height:									140px;  /* 100+20x2 */
	overflow:								hidden;
	background:							#040322;
}
