/*****************************************************************************
 *                                  MSE-JPS                                  *
 *                 Mini Site Engine - Javascript / PHP / SQL                 *
 *                                                                           *
 *                        Version 2.3.0-0 : 09/02/2016                       *
 *                                                                           *
 *                      Developped by Hadrien Croubois :                     *
 *                         hadrien.croubois@gmail.com                        *
 *                                                                           *
 *****************************************************************************/

/* Mobile */
@media only screen and (max-width: 1000px) {
	header, footer, #page
	{
		padding-left:					20px;
		padding-right:				20px;
	}
	aside { display: none; }
}
/* Descktop */
@media only screen and (min-width: 1000px) {
	header, footer, #page
	{
		padding-left:						calc((100% - 960px) / 2);
		padding-right:					calc((100% - 960px) / 2);
	}
}
