{##############################################################################
 #                                  MSE-JPS                                   #
 #                 Mini Site Engine - Javascript / PHP / SQL                  #
 #                                                                            #
 #                        Version 1.2.0-1 : 06/04/2015                        #
 #                                                                            #
 #                      Developped by Hadrien Croubois :                      #
 #                         hadrien.croubois@gmail.com                         #
 #                                                                            #
 ##############################################################################}

<!DOCTYPE html>
<html lang="fr">
	
	<head>
		<meta charset="utf-8">

		<title>{{ website.header.name }} | {{ website.page.sections.map[website.current].title }}</title>

		<link rel="icon" type="image/png" href="{{website.header.picture}}" />
		

		<!-- L i b   -   J q u e r y -->	
		<script type="text/javascript" src="ressources/libs/jquery-2.1.3.js"></script> 
		<script type="text/javascript" src="ressources/libs/packery.pkgd.min.js"></script>

		<!-- L i b   -   D i a l o g   p o l y f i l l -->	
		<script src="ressources/libs/dialog-polyfill-master/dialog-polyfill.js"></script>
		<link rel="stylesheet" type="text/css" href="ressources/libs/dialog-polyfill-master/dialog-polyfill.css"/>

		<!-- L i b   -   L e a f l e t -->
		<script type="text/javascript" src="ressources/libs/leaflet-0.7.3/leaflet.js"></script>
		<link rel="stylesheet" href="ressources/libs/leaflet-0.7.3/leaflet.css" type="text/css"/>

		<!-- S t y l e - O p e n S a n s -->
		<link rel="stylesheet" href="ressources/font/OpenSans.css" type="text/css"/>

		<!-- M S E J P S   -   C l i e n t -->
		<script type="text/javascript" src="ressources/script/popup.js"></script>
		<script type="text/javascript" src="ressources/script/client/engine.js"></script>
		<link rel="stylesheet" href="ressources/css/index.css" type="text/css"/>
		<link rel="stylesheet" href="ressources/css/header.css" type="text/css"/>
		<link rel="stylesheet" href="ressources/css/footer.css" type="text/css"/>
		<link rel="stylesheet" href="ressources/css/main-client.css" type="text/css"/>
		<link rel="stylesheet" href="ressources/css/popup.css" type="text/css"/>

	</head>
 
	<body>

		{# Build page #}
		{% include 'structure/100_header.twig'  %}
		{% include 'structure/200_wrapper.twig' %}
		{% include 'structure/300_footer.twig'  %}

		{# Error block #}
		<div id='error' style='display:none'></div>

		{# Javascript #}
		{% include 'script/mse.twig' %}

		{# Modules #}
		{% include 'modules.twig' %}

	</body>

</html>
