{##############################################################################
 #                                  MSE-JPS                                   #
 #                 Mini Site Engine - Javascript / PHP / SQL                  #
 #                                                                            #
 #                        Version 1.1.1-3 : 31/03/2015                        #
 #                                                                            #
 #                      Developped by Hadrien Croubois :                      #
 #                         hadrien.croubois@gmail.com                         #
 #                                                                            #
 ##############################################################################}

<!DOCTYPE html>
<html lang="fr">
	
	<head>
		<meta charset="utf-8">

		<title>{{ website.header.name }} | {{ website.page.sections.map[website.current].title }}</title>

		<link rel="icon" type="image/png" href="{{website.header.picture}}" />
		
		<link rel="stylesheet" href="ressources/style.css" type="text/css"/>
		<link rel="stylesheet" href="ressources/font/OpenSans.css" type="text/css"/>
		<link rel="stylesheet" href="ressources/libs/leaflet-0.7.3/leaflet.css" type="text/css"/>

		<script type="text/javascript" src="ressources/libs/jquery-2.1.3.js"></script> 
		<script type="text/javascript" src="ressources/libs/packery.pkgd.min.js"></script>
		<script type="text/javascript" src="ressources/libs/leaflet-0.7.3/leaflet.js"></script>
	</head>
 
	<body>

		{# Build page #}
		{% include 'structure/100_header.twig'  %}
		{% include 'structure/200_wrapper.twig' %}
		{% include 'structure/300_footer.twig'  %}

		{# Error block #}
		<div id='error' style='display:none'></div>

		{# Javascript #}
		{% include 'script/mse.twig' %}

		{# Modules #}
		{% include 'modules.twig' %}

	</body>

</html>
