{#############################################################################
 #                                  MSE-JPS                                  #
 #                 Mini Site Engine - Javascript / PHP / SQL                 #
 #                                                                           #
 #                       Version 2.3.0-4 : 27/04/2016                        #
 #                                                                           #
 #                     Developped by Hadrien Croubois :                      #
 #                        hadrien.croubois@gmail.com                         #
 #                                                                           #
 #############################################################################}

<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="utf-8">

		<title>{{ website.header.name }} | {{ website.page.sections.map[website.current].title }}</title>

		<link rel="icon" type="image/png" href="{{website.header.picture}}" />

		<!-- L i b   -   J q u e r y -->
		<!--
		<script type="text/javascript" src="ressources/libs/jquery-2.2.0.min.js"></script>
		<script type="text/javascript" src="ressources/libs/jquery-ui.min.js"></script>
		<script type="text/javascript" src="ressources/libs/jquery.mobile-1.4.5.min.js"></script>
		-->
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="ressources/lib/resumecard.css"/>

		<!-- L i b   -   P a c k e r y -->
		<!--
		<script type="text/javascript" src="ressources/libs/packery.pkgd.min.js"></script>
		-->
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/packery/2.0.0/packery.pkgd.min.js"></script>

		<!-- L i b   -   D i a l o g   p o l y f i l l -->
		<!--
		<script src="ressources/libs/dialog-polyfill-master/dialog-polyfill.js"></script>
		<link rel="stylesheet" type="text/css" href="ressources/libs/dialog-polyfill-master/dialog-polyfill.css"/>
		-->
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.3/dialog-polyfill.min.js"></script>
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.3/dialog-polyfill.min.css"/>

		<!-- L i b   -   L e a f l e t -->
		<!--
		<script type="text/javascript" src="ressources/libs/leaflet-0.7.3/leaflet.js"></script>
		<link rel="stylesheet" href="ressources/libs/leaflet-0.7.3/leaflet.css" type="text/css"/>
		-->
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css"/>


		<!-- S t y l e - O p e n S a n s -->
		<!--
		<link rel="stylesheet" href="ressources/font/OpenSans.css" type="text/css"/>
		-->
		<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

		<!-- M S E J P S   -   C l i e n t -->
		<script type="text/javascript" src="ressources/script/client-min.js"></script>
		<link rel="stylesheet" href="ressources/css/client-min.css" type="text/css"/>

	</head>

	<body>

		{# Build page #}
		{% include 'structure/100_header.twig'  %}
		{% include 'structure/200_wrapper.twig' %}
		{% include 'structure/300_footer.twig'  %}

		{# Error block #}
		<div id='error' style='display:none'></div>

		{# Javascript #}
		{% include 'script/mse.twig' %}

		{# Modules #}
		{% include 'modules.twig' %}

	</body>

</html>
