{##############################################################################
 #                                  MSE-JPS                                   #
 #                 Mini Site Engine - Javascript / PHP / SQL                  #
 #                                                                            #
 #                        Version 1.1.0-1 : 29/03/2015                        #
 #                                                                            #
 #                      Developped by Hadrien Croubois :                      #
 #                         hadrien.croubois@gmail.com                         #
 #                                                                            #
 ##############################################################################}

<div id='wrapper'>
	{{ include ('main.twig',  {'website': website }) }}
	{{ include ('aside.twig', {'website': website }) }}
</div>