/******************************************************************************
 *                                  MSE-JPS                                   *
 *                 Mini Site Engine - Javascript / PHP / SQL                  *
 *                                                                            *
 *                        Version 1.1.0-2 : 30/03/2015                        *
 *                                                                            *
 *                      Developped by Hadrien Croubois :                      *
 *                         hadrien.croubois@gmail.com                         *
 *                                                                            *
 ******************************************************************************/

* {
	-webkit-box-sizing:			border-box;
	-moz-box-sizing:				border-box;
	box-sizing:							border-box;
}

body
{
	width:									100%;	
	margin:									0 auto;
	font: 									normal 75% OpenSansRegular;
	line-height:						1.5;
	color:									#444;
}

/******************************************************************************
 *                               G e n e r a l                                *
 ******************************************************************************/
a
{
	color:									#456;
	text-decoration:				none;
}
a:hover
{
	color:									#002;
}
p
{
	text-align:							justify;
	text-indent:						1em;
	margin:									0;
}
p.noindent {
	text-indent:						0;	
}
ul
{
	list-style-type:				disc;
	padding-left:						0.5em;
	margin:									0 0 1.5em 1.5em;
}
.quiet
{
	color:									#999;
}
.bordered {
	border-left-width:			4px;
	border-left-style:			solid;	
	padding-left:						10px;
}
.label-orange	{ border-left-color:	#FA8F6F; }
.label-green	{ border-left-color:	#B7D897; }
.label-blue		{ border-left-color:	#55AADA; }
.label-purple	{ border-left-color:	#666699; }
.green				{ color:							#32CD32; }
.blue					{ color:							#4169E1; }
.orange				{ color:							#FF8C00; }
.red					{	color:							#FF0000; }

/******************************************************************************
 *                                H e a d e r                                 *
 ******************************************************************************/
header
{
	position:								fixed;
	top:										0px;
	z-index:								100000;
	
	width:									100%;
	padding-left:						calc((100% - 860px) / 2);
	padding-right:					calc((100% - 860px) / 2);

	padding-top:						20px;
	padding-bottom:					20px;

	border-bottom:					1px solid #DDD;	
	background: 						#FFFFFF;
}
header.dark
{
	border-bottom:					0px;	
	color:									#FFFFFF;
	background:							#4D4D4D;
}
header #name
{
	display: 								block;
	float:									left;
	height:									70px;
	width:									calc(100% - 100px);
	font-size:							36px;
}
header #picture
{
	display:								block;
	float:									right;
	height:									100px;
	width:									100px;
}

/******************************************************************************
 *                     H e a d e r   N a v i g a t i o n                      *
 ******************************************************************************/
header #nav
{
	overflow:								hidden;
	display:								block;
	margin:									0px;
	padding:								0px;
	float:									left;
	height:									30px;
	width:									calc(100% - 100px);
}
header #nav li
{
	margin-right:						20px;
	list-style:							none;
	float:									left;
}
header #nav li.current a
{
	color:									#333;
	border-bottom:					2px solid #94CC5F;
}
header.dark #nav li.current a
{
	color:									#DDD;
}
header #nav a
{
	font-size:							20px;
	color:									#888;
	text-decoration:				none;
}
header.dark #nav a
{
	color:									#BBB;
}

/******************************************************************************
 *                                F o o t e r                                 *
 ******************************************************************************/
footer
{
	position:								fixed;
	bottom:									0px;
	z-index:								100000;
	
	width:									100%;
	padding-left:						calc((100% - 860px) / 2);
	padding-right:					calc((100% - 860px) / 2);
	padding-top:						8px;
	padding-bottom:					8px;

	border-top:							1px solid #DDD;	
	background: 						#FFFFFF;
}

/******************************************************************************
 *                         F o o t e r   S o c i a l                          *
 ******************************************************************************/
footer #social {
	display: 								inline;
	float:									left;
	min-width:							100px;
	margin:									0px;
	padding:								0px;
}
footer #social li
{
	margin-right:						6px;
	list-style:             none;
	float:                 	left;
}
footer #social img
{
	margin-right:						3px;
	vertical-align:					middle;
	display:								inline-block;
	height:									16px;
}

/******************************************************************************
 *                     F o o t e r   N a v i g a t i o n                      *
 ******************************************************************************/
footer #mininav
{
	display:								inline;
	float:									right;
	min-width:							100px;
	margin:									0px;
	padding:								0px;
}
footer #mininav li
{
	display:								inline;
	margin-right:						6px;
	padding-right:					6px;
	border-right:						1px solid #DDD;
	list-style:							none;
}
footer #mininav .top
{
	margin-right:						0px;
	padding-right:					0px;
	border-right:						0px;
}
footer #mininav .top a
{
	color:									#999;
}

/******************************************************************************
 *                               W r a p p e r                                *
 ******************************************************************************/
#wrapper
{
	margin-left:						calc((100% - 860px) / 2);
	margin-right:						calc((100% - 860px) / 2);
	margin-top:							calc(100px + 40px);
	margin-bottom:					calc(16px  + 16px);
}
main {
	display:								inline-block;
	vertical-align:					top;
	width:									75%;
	
	padding-top:						15px;
	padding-bottom:					10px;
	padding-right: 					 5px;

	z-index:								10;
	background: 						#FFFFFF;
}
aside {
	display:								inline-block;
	vertical-align:					top;
	width:									calc(25% - 4px);
	
	padding-top:						20px;
	padding-bottom:					10px;
	padding-left:						10px;

	border-left:						1px solid #DDD;

	z-index:								100;
	background: 						#FFFFFF;
}

/******************************************************************************
 *                            M a i n   B l o c k                             *
 ******************************************************************************/
.block
{
	display:								inline-block;
	vertical-align:					top;
	width:									100.000%;
}
.block.quarter                 { width:  25.000%; }
.block.third                   { width:  33.333%; }
.block.half                    { width:  50.000%; }
.block.twothird                { width:  66.666%; }
.block.treequarter             { width:  75.000%; }
.block.full                    { width: 100.000%; }

.block:not(.expanded) .content { display:       none; }
.block.expanded       .content { display:    visible; }

.block.half.expanded,
.block.twothird.expanded,
.block.treequarter.expanded
{
	width:									100%;
}

/******************************************************************************
 *                          M a i n   A r t i c l e                           *
 ******************************************************************************/
main article
{
	margin:									5px;
	padding:								8px;
}
main .block.quarter     article,
main .block.third       article,
main .block.half        article,
main .block.twothird    article,
main .block.treequarter article,
main .block.full        article
{
	background:							#FFFFFF;
	border-top:							1px solid #EEE;
	border-left:						1px solid #EEE;
	border-bottom:					1px solid #BBB;
	border-right:						1px solid #BBB;
}
main article h1
{
	margin:									0px;
	font-weight:						normal;
	font-size:							22px;	

	white-space:						nowrap;
	overflow:								hidden;
	text-overflow:					ellipsis;
}
main article h5
{
	margin:									0;
	font-weight:						normal;
	text-align: 						right;
}
main article .content
{
	margin-top:							10px;
	overflow:								hidden;
	text-overflow:					ellipsis;
}

/******************************************************************************
 *                   M a i n   A r t i c l e   B i b l i o                    *
 ******************************************************************************/
main article .bibtitle
{
	display:								block;
	font-weight:						bold;
}
main article .bibauthor
{
	display:								block;
}
main article .bibref
{
	display:								block;
	padding-bottom:					5px;
	font-style:							italic;
	color:									#888;
	/*font-size: 80%;*/
}
main article .bibref a
{
	margin-left:						5px;
	color:									#88F;
	/*font-size: 80%;*/
}
main article .bibtray
{
	border-bottom:					1px solid #BBB;
	border-right:						1px solid #BBB;
	border-top:							1px solid #EEE;
	border-left:						1px solid #EEE;
	padding:								5px 5px 5px 10px;
}
main article .bibabstract
{
	text-align:							justify;
  color:									#444;
}
main article .bibtex
{
	font-size:							80%;
	white-space:						pre-wrap;
	color:									#888;
}
main article .cohexist_left
{
	display:								inline-block;
	width:									60%;
	vertical-align:					top;
	clear:									left;
	
	padding-right: 					5px;
}
main article .cohexist_right
{
	display:								inline-block;
	width:									calc(40% - 4px);
	vertical-align:					top;
	clear:									right;

	border-left:						1px solid #DDD;
	padding-left: 					5px;
}

/******************************************************************************
 *                                 A s i d e                                  *
 ******************************************************************************/
aside article
{
	padding-bottom:					10px;
}
aside h1
{
	margin:									0 0 10px 0;
	font-weight:						normal;
	font-size:							24px;
}
#copyright
{
	border-top:							1px solid #EEE;
	padding-top: 						8px;
	text-align:							center;
	font-size:							10px;
	color:									#AAA;
}
#copyright a
{
	color:									#99C;
}

/******************************************************************************
 *                                 E r r o r                                  *
 ******************************************************************************/
#error
{
	position:								fixed;
	z-index:								100000;

	width:									1000px;
	left:										calc(50% - 500px); 
	top:										calc(50% - 50px);

	background:							rgba(8,8,8,0.8);
	color:									#EEEEEE;
	
	padding:								20px;
	padding-top:						auto;
  padding-bottom:					auto;

	text-align:							center;
	font-size:							32px;
	cursor:									pointer;
}









